[package]
edition = "2021"
name = "sponsorblock-mirror"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
diesel = {version = "2.1.0", features = ["postgres"]}
diesel_logger = "0.3.0"
diesel_migrations = "2.0.0"
lazy_static = "1.4.0"
num_cpus = "1.15.0"
regex = "1.8.3"
reqwest = {version = "0.11.18", features = ["json", "rustls-tls", "gzip", "brotli"], default-features = false}
rocket = {git = "https://github.com/SergioBenitez/Rocket"}
rocket_sync_db_pools = {git = "https://github.com/SergioBenitez/Rocket", features = ["diesel_postgres_pool"]}
serde = {version = "1.0.163", features = ["derive"]}
serde_json = "1.0.96"
tokio = {version = "1", features = ["full"]}
